/* Tag selection on post creation */
#tag-selection {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  grid-gap: 10px;
}

#tag-selection .left-area {
  grid-column: 1;
}

#tag-selection .center-area {
  grid-column: 2;
  margin: auto;
}

#tag-selection .right-area {
  grid-column: 3;
}

#tag-selection .left-area select, 
#tag-selection .right-area select {
  width: 100%;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  border-radius: 5px;
}
