/* General */
body {
  color: white;
  background-color: black;
  padding: 0px 50px;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #00b7ff;
}

/* Grid setup */
.gi-header {
  grid-area: header;
}
.gi-menu {
  grid-area: menu;
}
.gi-main {
  grid-area: main;
}
.gi-footer {
  grid-area: footer;
  text-align: center;
}

.grid-container {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  padding: 5px;
}

.previews-container {
  display: grid;
  width: 100%;
  grid-template-areas: 
    "previews"
    "page-nav";
}

.previews {
  grid-area: previews;
}

.preview-navigation {
  grid-area: page-nav;
}

.preview-navigation a {
  float: right;
  margin: 0 10px;
}

/* Navigation */
.main-menu {
  padding: 10px;
  margin: 0;
  background-color: #2c2c2c;
}
.main-menu span {
  padding-right: 25px;
}

.main-menu span a {
  color: white;
  text-decoration: none;
}

.main-menu li:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

/* Blog posts */
.post-shop-window {
  padding-bottom: 25px;
}

.post-header > .title {
  padding: 5px 0px;
  font-size: 24px;
  font-weight: bold;
  color: dodgerblue;
  text-decoration: none;
}

.post-header > .title:hover {
  text-decoration: underline;
}

.post-footer > .tags > span {
  font-size: 12px;
  border: solid;
  border-radius: 5px;
  border-color: grey;
  background-color: grey;
}

.post-header > .actions-access {
  float: right;
}

/* Forms */
.log-level-form input[type=text],
.log-level-form textarea {
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 5px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  width: 200px;
  float: right;
  height: 30px;
}

.login-error-message {
  padding: 10px;
  margin: 10px 0;
  background-color: #7e2d2d;
}

/* Utility classes */
.green {
  color: darkgreen;
}

.blue {
  color: dodgerblue;
}

.grey {
  color: slategrey;
}