doctype html
html
  head
    title= title
    base(href="http://localhost:3000/")
    link(rel='stylesheet', href='/stylesheets/style.css')

    block links
    block scripts

  body
    div(class='grid-container')
      div(class='gi-header')
        h1 <span class="green">adrian@dev:</span>~<span class="blue">$</span> dev-null-blog <span class="grey">-h</span>
        p A blog about programming
        hr

      div(class='gi-menu')
        ul(class="main-menu")
          li
            a(href="") Home
          li
            a(href="/about") About

      div(class='gi-main')
        block content

      div(class='gi-footer')
        a(href="#") - back to top -
