extends ../layout

block content
  div(class="log-level-form")
    form(action="TODO", method="post")
      h2 Title
      input(type="text", name="")
      h2 Plug
      textarea(rows="5")
      h2 Text
      textarea(rows="30")
      h2 Tags