extends ../layout

block content
  div(class="log-level-form")
    form(action="TODO", method="post")
      p Title
      input(type="text", name="")
      p Plug
      textarea(rows="10")
      p Text
      textarea(rows="30")