doctype html
html
  head
    title= title
    base(href="http://localhost:3000/")

    link(rel='stylesheet', href='/stylesheets/style.css')
    block links

  body
    div(class='grid-container')
      div(class='gi-header')
        h1 <span class="green">adrian@dev:</span>~<span class="blue">$</span> loglevel-blog <span class="grey">-h</span>
        p A blog about programming

      div(class='gi-menu')
        
        div(class="main-menu")
          span
            a(href="") Home
          span
            a(href="/about") About

      div(class='gi-main')
        block content

      div(class='gi-footer')
        a(href="#") - back to top -
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    block scripts
